include AUTHORS
include NEWS
include COPYING
include COPYING.LESSER
include ChangeLog
include examples/consolecallback.py
include examples/dominfo.py
include examples/domrestore.py
include examples/domsave.py
include examples/domstart.py
include examples/esxlist.py
include examples/event-test.py
include examples/topology.py
include generator.py
include libvirt-lxc-override-api.xml
include libvirt-lxc-override.c
include libvirt-override-api.xml
include libvirt-override.c
include libvirt-override.py
include libvirt-override-virConnect.py
include libvirt-override-virDomain.py
include libvirt-override-virDomainSnapshot.py
include libvirt-override-virStoragePool.py
include libvirt-override-virStream.py
include libvirt-python.spec
include libvirt-qemu-override-api.xml
include libvirt-qemu-override.c
include libvirt-utils.h
include libvirt-utils.c
include MANIFEST
include README
include sanitytest.py
include setup.py
include typewrappers.c
include typewrappers.h
