include AUTHORS
include COPYING
include COPYING.LESSER
include CONTRIBUTING.rst
include HACKING
include ChangeLog
include examples/README
include examples/consolecallback.py
include examples/dhcpleases.py
include examples/domipaddrs.py
include examples/dominfo.py
include examples/domrestore.py
include examples/domsave.py
include examples/domstart.py
include examples/esxlist.py
include examples/event-test.py
include examples/guest-vcpus/guest-vcpu-daemon.py
include examples/guest-vcpus/guest-vcpu.py
include examples/nodestats.py
include examples/sparsestream.py
include examples/topology.py
include generator.py
include libvirt-lxc-override-api.xml
include libvirt-lxc-override.c
include libvirt-override-api.xml
include libvirt-override.c
include libvirt-override.py
include libvirt-override-virConnect.py
include libvirt-override-virDomain.py
include libvirt-override-virDomainCheckpoint.py
include libvirt-override-virDomainSnapshot.py
include libvirt-override-virNetwork.py
include libvirt-override-virStoragePool.py
include libvirt-override-virStream.py
include libvirt-python.spec
include libvirt-qemu-override-api.xml
include libvirt-qemu-override.c
include libvirt-qemu-override.py
include libvirt-utils.h
include libvirt-utils.c
include libvirtaio.py
include MANIFEST
include MANIFEST.in
include README
include requirements-test.txt
include sanitytest.py
include setup.py
include tests/test_conn.py
include tests/test_domain.py
include tests/test_domain_checkpoint.py
include tests/test_domain_snapshot.py
include tests/test_interface.py
include tests/test_network.py
include tests/test_nodedev.py
include tests/test_storage.py
include tox.ini
include typewrappers.c
include typewrappers.h
